@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --color: black;
  --light-color: #999;
  --background: #222;
}

body {
  color: var(--background);
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3rem 2rem 1.5rem 2rem;
}

.header h1 {
  font-family: 'Dancing Script', serif;
  font-size: 3rem;

  transition: all 0.5s ease;
}

.header h1:hover {
  color: var(--light-color);
}

.navigation {
  display: flex;
  gap: 1.85rem;
}

.navigation > a {
  font-size: 0.75rem;
  transition: all 0.5s ease;
}

.navigation > a:hover {
  color: var(--light-color);
}

.active {
  color: var(--light-color)!important;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.outlet {
  padding: 0 4rem;
}

.home-wrapper {
  height: 50%;
  padding-top: 5rem;
  background-color: white;
}

.typewriter {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-radius: 4px;
  margin-bottom: 3rem;
}

.typewriter h3 {
  font-weight: 500;
  font-size: 1.05rem;
  min-height: 1.25rem;
  display: inline-block;
  margin-left: 2rem;
  color: var(--light-color);

  transition: all 0.35s ease;
}

.blink-on {
  padding-right: 3px;
  border-right: 3px solid black;
}

.blink-off {
  padding-right: 3px;
  border-right: 3px solid white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home .me {
  width: 300px;
  min-width: 300px;
  height: 300px;
  background-image: url('/Argenis.jpeg');
  background-position: center;
  background-size: cover;
  background-color: var(--light-color);
  background-blend-mode: luminosity;
  border-radius: 50%;
}

.home p {
  max-width: 50%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.card {
  width: 300px;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  background-color: white;

  transition: all 0.75s ease;
}

.card-img {
  width: 100%;
  height: 250px;
  background-color: var(--light-color);
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 0px 1rem;
}

.card-description h3 {
  text-align: center;
}

.card-description p {
  line-height: normal;
  font-size: 0.60rem;
}

.card-actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.card-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
  font-size: 1.15rem;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding-left: 2px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 1rem;
}

.form-error-message {
  color: tomato;
  border: 1px solid tomato;
  border-radius: 4px;
  padding: 0.45rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.form-success-message {
  color: var(--light-color);
  background-color: var(--background);
  border-radius: 4px;
  padding: 0.45rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-size: 0.75rem;
}

.form-control input, textarea {
  padding: 0.45rem;
  resize: none;
}

.form-control p {
  font-size: 0.75rem;
  padding-left: 1rem;
  color: tomato;
}

.form-control button {
  background-color: white;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 0.35rem 0;
  cursor: pointer;

  transition: all 0.5s ease;
}

.form-control button:hover {
  color: white;
  background-color: var(--light-color);
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-bottom: 3rem;
}

.download-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid var(--background);
  border-radius: 4px;
  background-color: transparent;

  transition: all 0.5s ease;
}

.download-button:hover {
  box-shadow: 
    inset 0 -0.25rem 1rem var(--light-color),
    0 0 0 2px white,
    0.3em 0.3em 1em var(--light-color); 
}

.download-button #download-image {
  width: 300px;
  height: 300px;
  border-radius: 4px 4px 0px 0px;
  background-image: url('https://www.veteransplaceusa.org/wp-content/uploads/2021/10/GettyImages-166741010.jpg');
  background-color: var(--light-color);
  background-position: center;
  background-size: cover;
  background-blend-mode: luminosity;
}

.download-button #download-text {
  margin: 1rem 0px;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  height: 8rem;
  background-color: var(--background);
  color: var(--light-color);
  border-radius: 8px 8px 0 0;
  margin: 0px 2rem;
  z-index: 20;
}

.footer .links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer .links a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 0px 0px 0px 2px;
  border: 1px solid var(--light-color);

  transition: all 0.5s ease;
}

.footer .links a:hover {
  background-color: var(--light-color);
  color: var(--color);
}

.footer h3 {
  font-size: 0.70rem;
}


@media screen and (width <= 700px) {
  .header {
    padding: 1rem;
    margin-top: 2rem;
  }

  .typewriter {
    display: none;
  }
}

@media screen and (width <= 800px) {
  .typewriter h3 {
    font-size: 0.95rem;
    letter-spacing: normal;
  }
}

@media screen and (width <= 990px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .home-wrapper {
    padding-top: 3rem;
  }
  .typewriter {
    align-items: start;
    height: 15%;
  }

  .home {
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    margin-bottom: 15rem;
  }

  .home p {
    width: 100%;
    max-width: 100%;
  }
}
